@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body
{
    background-color: #242424;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

.navbar
{
    width: 100%;
    height: 70px;
    top: 0;
    z-index: 1;
    position: fixed;
    background-color: #6009C2;
}

.nav-content-container
{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.nav-logo
{
    text-decoration: none;
    font-size: 36px;
    font-weight: 700;
    color: #E4E4E4;
}

.nav-button-container
{
    width: 45%;
    display: flex;
    justify-content: space-evenly;
}

.nav-button
{
    text-decoration: none;
    font-size: 14px;
    color: #E4E4E4;
}

.nav-button:hover
{
    color: #242424;
}

.nav-button#active
{
    color: #242424;
}

.burger-button
{
    display: none;
    cursor: pointer;
}

.burger-button div 
{
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease;
    background-color: #E4E4E4;
}

.content-container {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.content-wrap {
    width: 100%;
    padding-bottom: 35px;
    padding-top: 70px;
    animation: content-fade 0.5s ease;
}

.spotlight-container
{
    width: 100%;
    height: 75vh;
    position: relative;
}

.spotlight-img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
}

.spotlight-header
{
    display: block;
    font-size: 22px;
    font-weight: 700;
    color: #E4E4E4;
    position: absolute;
    bottom: 0;
    margin: 20px;
    text-shadow: 1px 1px black;
    transition: all 0.3s ease;
}

.spotlight-button
{
    transition: all 0.3s ease;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    font-size: 14px;
    text-decoration: none;
    color: #E4E4E4;
    background-color: #303030;
    width: 125px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spotlight-button:hover
{
    background-color: #383838;
}

.about-container
{
    width: 600px;
    margin: 100px auto;
}

.about-header
{
    display: block;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #E4E4E4;
    padding-bottom: 20px;
}

.card
{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.card-header
{
    font-size: 22px;
    font-weight: 700;
    color: #E4E4E4;
}

.card-text
{
    font-size: 14px;
    color: #E4E4E4;
}

.footer
{
    width: 100%;
    height: 35px;
    bottom: 0;
    position: absolute;
    background-color: #303030;
}

.footer-content-container
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-version
{
    font-size: 14px;
    color: #E4E4E4;
    padding-left: 10px;
}

.social-links-container {
    display: flex;
    justify-content: space-evenly;
    width: 10%;
}

.social-link {
    border-radius: 50%;
    height: 16px;
}

@media only screen and (max-width: 990px)
{
    .nav-button-container 
    {
        position: fixed;
        right: 0;
        height: 50vh;
        top: 71px;
        width: 100%;
        flex-direction: column;
        transform: translateX(100%);
        z-index: 1;
        background-color: #6009C2;
    }

    .nav-button 
    {
        opacity: 0.0;
        text-align: center;
    }

    .burger-button
    {
        display: block;
    }

    .social-links-container
    {
        width: 30%;
    }

    .spotlight-header
    {
        left: 50%;
        transform: translate(-50%, 0%);
        text-align: center;
        margin: 0px 0px 80px 0px;
    }

    .spotlight-button
    {
        left: 50%;
        transform: translate(-50%, 0%);
        text-align: center;
        margin: 0px 0px 20px 0px;
    }

    .about-container
    {
        width: 50%;
    }
}

.nav-active 
{
    transform: translateX(0%) !important;
    transition: transform 0.5s ease-in;
}

.toggle .line1 
{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 
{
    opacity: 0.0;
}

.toggle .line3 
{
    transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes nav-link-fade {
    from 
    {
        opacity: 0.0;
        transform: translateX(50px);
    }

    to 
    {
        opacity: 1.0;
        transform: translateX(0px);
    }
}

@keyframes content-fade 
{
    from
    {
        opacity: 0.0;
    }
    to
    {
        opacity: 1.0;
    }
}