@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Lato&display=swap');

body
{
    margin: 0;
    padding: 0;
    background-color: #2A2D43;
}

.navbar
{
    width: 100%;
    height: 70px;
    top: 0;
    z-index: 1;
    position: fixed;
    background-color: #414361;
    transition: all 0.2s ease;
}

.nav-content-container
{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.nav-logo
{
    color: #ECF0FF;
    font-family: 'Jost', sans-serif;
    font-size: 32px;
    text-decoration: none;
}

.nav-logo b
{
    color: #7F2CCB;
}

.nav-button-container
{
    display: flex;
}

.nav-button
{
    text-decoration: none;
    color: #ECF0FF;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 0px 15px;
    padding: 8px 16px;
    border-radius: 99px;
    transition: all 0.2s ease;
}

.nav-button:hover
{
    background-color: #7F2CCB;
}

.nav-button#active
{
    background-color: #7F2CCB;
}

.nav-hr
{
    color: #ECF0FF;
}

.burger-button
{
    display: none;
    cursor: pointer;
}

.burger-button div 
{
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.2s ease;
    background-color: #ECF0FF;
}

.content-container 
{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.content-wrap 
{
    width: 100%;
    padding-bottom: 35px;
    padding-top: 70px;
    animation: fade-in 0.7s ease-in-out;
}

.central-container
{
    width: 750px;
    margin: 35px auto;
}

.main-img
{
    display: block;
    height: 375px;
    margin: auto;
    transition: all 0.2s ease;
}

.info-container
{
    width: 60%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s ease;
}

.info-header
{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #ECF0FF;
}

.info-header span
{
    color: #7F2CCB;
}

.central-hr
{
    background-color: #414361;
    height: 5px;
    border: none;
    width: 90%;
}

.downloads-container
{
    width: 100%;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.downloads-header
{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ECF0FF;
}

.downloads-button
{
    text-decoration: none;
    color: #ECF0FF;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 0px 15px;
    padding: 8px 16px;
    border-radius: 99px;
    transition: all 0.2s ease;
}

.downloads-button:hover
{
    background-color: #7F2CCB;
}

.patch-notes-container
{
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.patch-notes-header
{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #ECF0FF;
}

.patch-notes-list
{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #ECF0FF;
}

.patch-notes-list li
{
    padding: 3px;
}

.feedback-button
{
    text-decoration: none;
    color: #ECF0FF;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 0px auto;
    padding: 8px 16px;
    border-radius: 99px;
    transition: all 0.2s ease;
}

.feedback-button:hover
{
    background-color: #7F2CCB;
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    bottom: 0;
    position: absolute;
    background-color: #414361;
}

.footer-content
{
    color: #ECF0FF;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 824px)
{
    .central-container
    {
        width: 90%;
    }

    .main-img
    {
        height: 200px;
    }
}

@media only screen and (max-width: 767px)
{
    .nav-button-container
    {
        align-items: center;
        position: fixed;
        right: 0;
        height: 100vh;
        top: 70px;
        width: 100%;
        flex-direction: column;
        transform: translateX(100%);
        z-index: 2;
        background-color: #414361;
    }

    .nav-button 
    {
        opacity: 0.0;
        margin: 15px 0px;
    }

    .nav-hr
    {
        display: none;
    }

    .burger-button
    {
        display: block;
    }

    .info-container
    {
        text-align: center;
        width: 95%;
    }

    .central-hr
    {
        width: 100%;
    }
}

@media only screen and (max-width: 420px)
{
    .main-img
    {
        height: 150px;
    }
}

.nav-active 
{
    transform: translateX(0%) !important;
    transition: transform 0.5s ease-in;
}

.toggle .line1 
{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 
{
    opacity: 0.0;
}

.toggle .line3 
{
    transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes nav-link-fade 
{
    from 
    {
        opacity: 0.0;
        transform: translateX(50px);
    }
    to 
    {
        opacity: 1.0;
        transform: translateX(0px);
    }
}

@keyframes fade-in
{
    from 
    {
        opacity: 0.0;
    }
    to 
    {
        opacity: 1.0;
    }
}